/*
use this color pallette: https://material.io/tools/color/#!/?view.left=0&view.right=1&primary.color=58c999&primary.text.color=000000&secondary.color=aa30c9
*/

@import url('https://fonts.googleapis.com/css?family=Contrail+One');

body{
	background-color:#58c999;
}

.menu{
	overflow:hidden;
	background-color:#1a976b;
}

.menu a{
	font-family: 'Contrail One', cursive;
	float:left;
	color:#000000;
	text-align:center;
	padding:14px 16px;
	font-size:17px;
	text-decoration:none;
}

.menu a:hover{
	color:#8cfdca;
}